/* alternate colors */
/* corner values for bubble up and down */
body::before {
	display: none;
	background-color: transparent
		
}
.typ-subhed {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  line-height: 20px;
	font-weight: 50;
  letter-spacing: 0;
}
/* lets create a container and put it in the middle */
.container {
  height: 100%;
  width: 100%;
		background-color: transparent
}
.container > * {
  width: 100%;
	height: 100%
}
.ctrl-standard.fx-bubbleDown {
  color: #f0b81f;
  border-color: #f0b81f;
}
.ctrl-standard.fx-bubbleDown::after {
  bottom: auto;
  border-radius: 0 0 $right-val2 $left-val2/0 0 $right-val1 $left-val1;
  background: #ffffff;
}
.ctrl-standard.fx-bubbleDown.is-reversed::after {
  height: 300%;
}
.ctrl-standard.fx-bubbleDown.is-reversed:hover {
  color: #ffffff;
}
.ctrl-standard.fx-bubbleDown.is-reversed:hover::after {
  height: 0;
}
.ctrl-standard.fx-bubbleUp {
  color: #3e8ede;
  border-color: #3e8ede;
	height: 70px;
	width: 70px
}
.ctrl-standard.fx-bubbleUp::after {
  top: auto;
  border-radius: $right-val1 $left-val1 0 0/$right-val2 $left-al2 0 0;
  background: #3e8ede;
}
.ctrl-standard.fx-bubbleUp.is-reversed::after {
  height: 300%;
}
.ctrl-standard.fx-bubbleUp.is-reversed:hover {
  color: #3e8ede;
}
.ctrl-standard.fx-bubbleUp.is-reversed:hover::after {
  height: 0;
}
.ctrl-standard.fx-sliderIn {
  color: #ffffff;
  border-color: #ffffff;
}
.ctrl-standard.fx-sliderIn::after {
  background: #ffffff;
}
.ctrl-standard.fx-sliderIn.is-reversed::after {
  width: 300%;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover {
  color: #ffffff;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover::after {
  width: 0;
}
[class*="ctrl-"] {
  padding: 0px 0px;
  border-radius: 1px;
  border: 1px solid #FFFFFF;
}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
  color: #FFFFFF;
}
[class*="ctrl-"][class*="fx-"].is-reversed {
  color: #ffffff;
		  background-color: #ffffff;
}

  [class*="fx-"],
[class*="fx-"]:hover {
    transition: color 0.5s  ease-in-out;
  }
  [class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    transition-delay: 0.2s !important;
    overflow: hidden;
  }
  [class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }
  [class*="fx-bubble"]::after {
    transition: height 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
  }
  [class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
    transition: height 0.5s ease-in-out;
    height: 300%;
  }
  [class*="fx-bubble"]:disabled:hover::after {
    height: 0;	
	  background-color: #ffffff;
  }
  .fx-sliderIn::after {
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  .fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    transition: width 0.5s ease-in-out;
    width: 100%;
  }
  :checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 300%;
  }
